<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--    Configuracion de paginas de error de la API-->
    <error-page>
        <error-code>400</error-code>
        <location>/error_400.jsp</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <location>/error_401.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/error_403.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error_404.jsp</location>
    </error-page>
    <error-page>
        <error-code>429</error-code>
        <location>/error_429.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error_500.jsp</location>
    </error-page>
    <error-page>
        <error-code>503</error-code>
        <location>/error_503.jsp</location>
    </error-page>
    <!--    Asignaciones de variables para el correo electronico de la API-->
    <context-param>
        <description>hostname para el servidor de correo</description>
        <param-name>hostMail</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <description>cuenta de correo de sistema</description>
        <param-name>userNameMail</param-name>
        <param-value>mail.sinieli@gmail.com</param-value>
    </context-param>
    <context-param>
        <description>password correo de sistema</description>
        <param-name>passwordMail</param-name>
        <param-value>?[f33!x=Ln&gt;6#yY5qshr-9i&lt;1U~uy}3P~kJ%JGO]HF{pq}h7:W/7JjHmu*g5B.t&amp;</param-value>
    </context-param>
    <context-param>
        <description>puerto para el sistema de correo</description>
        <param-name>portMail</param-name>
        <param-value>465</param-value>
    </context-param>
    <!--    Asignacion, declaracion y aclaracion de contexto y ruta de servlets-->
    <context-param>
        <param-name>BadgePerfilCompleto</param-name>
        <param-value>imagenes/badge_perfil_completo.png</param-value>
    </context-param>
    <context-param>
        <param-name>badgeAcademicoCompleto</param-name>
        <param-value>imagenes/badge_academico_completo.png</param-value>
    </context-param>
    <servlet>
        <servlet-name>MatriculasResolve</servlet-name>
        <servlet-class>Servlets.MatriculasResolve</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogInUser</servlet-name>
        <servlet-class>Servlets.LogInUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutUser</servlet-name>
        <servlet-class>Servlets.LogOutUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>imagenPerfil</servlet-name>
        <servlet-class>Servlets.ImagenPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>infoPerfil</servlet-name>
        <servlet-class>Servlets.infoPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Perfil</servlet-name>
        <servlet-class>Servlets.Perfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Salir</servlet-name>
        <servlet-class>Servlets.Salir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Configuracion</servlet-name>
        <servlet-class>Servlets.Configuracion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Servlets.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SistemaEmailResolve</servlet-name>
        <servlet-class>Servlets.SistemaEmailResolve</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValueProgresoAnual</servlet-name>
        <servlet-class>Servlets.ValueProgresoAnual</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Matriculas</servlet-name>
        <servlet-class>Servlets.Matriculas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Acudientes</servlet-name>
        <servlet-class>Servlets.Acudientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuarios</servlet-name>
        <servlet-class>Servlets.Usuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuariosListar</servlet-name>
        <servlet-class>Servlets.UsuariosListar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcudientesListar</servlet-name>
        <servlet-class>Servlets.AcudientesListar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarPerfil</servlet-name>
        <servlet-class>Servlets.EditarPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Materias</servlet-name>
        <servlet-class>Servlets.Materias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MateriasListar</servlet-name>
        <servlet-class>Servlets.MateriasListar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Areas</servlet-name>
        <servlet-class>Servlets.Areas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AreasListar</servlet-name>
        <servlet-class>Servlets.AreasListar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Docentes</servlet-name>
        <servlet-class>Servlets.Docentes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocentesListar</servlet-name>
        <servlet-class>Servlets.DocentesListar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Soporte</servlet-name>
        <servlet-class>Servlets.Soporte</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MatriculasResolve</servlet-name>
        <url-pattern>/MatriculasResolve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogInUser</servlet-name>
        <url-pattern>/LogInUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutUser</servlet-name>
        <url-pattern>/LogOutUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>imagenPerfil</servlet-name>
        <url-pattern>/imagenPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>infoPerfil</servlet-name>
        <url-pattern>/infoPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Perfil</servlet-name>
        <url-pattern>/Perfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Salir</servlet-name>
        <url-pattern>/Salir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Configuracion</servlet-name>
        <url-pattern>/Configuracion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <!--    Configuraciones propias de la sesion *param sesion-timeout establece el tiempo en minutos de inactividad de la sesion*-->
    <servlet-mapping>
        <servlet-name>SistemaEmailResolve</servlet-name>
        <url-pattern>/SistemaEmailResolve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValueProgresoAnual</servlet-name>
        <url-pattern>/ValueProgresoAnual</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Matriculas</servlet-name>
        <url-pattern>/Matriculas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Acudientes</servlet-name>
        <url-pattern>/Acudientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuarios</servlet-name>
        <url-pattern>/Usuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuariosListar</servlet-name>
        <url-pattern>/UsuariosListar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcudientesListar</servlet-name>
        <url-pattern>/AcudientesListar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarPerfil</servlet-name>
        <url-pattern>/EditarPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Materias</servlet-name>
        <url-pattern>/Materias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MateriasListar</servlet-name>
        <url-pattern>/MateriasListar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Areas</servlet-name>
        <url-pattern>/Areas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AreasListar</servlet-name>
        <url-pattern>/AreasListar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Docentes</servlet-name>
        <url-pattern>/Docentes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocentesListar</servlet-name>
        <url-pattern>/DocentesListar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Soporte</servlet-name>
        <url-pattern>/Soporte</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            40
        </session-timeout>
    </session-config>
    <!--    Configuracion propia de el sistema de login-->
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>login</realm-name>
        <form-login-config>
            <form-login-page>/index.jsp</form-login-page>
            <form-error-page>/error_401.jsp</form-error-page>
        </form-login-config>
    </login-config>
</web-app>
